html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

input {
    border: none;
    background-color: rgb(112,36,31);
    color: white;
    font-size: 10px;
    font-family: Roboto Mono;
}

input:focus {
    background-color: red;
}

textarea {
    border: none;
    background-color: rgb(112,36,31);
    color: white;
    font-size: 10px;
    font-family: Roboto Mono;
}

textarea:focus {
    background-color: red;
}

.shapebuttons {
    background-color: red;
    color: white;
    border: none;
    font-size: 8.5px;
    font-family: Roboto Mono;
}

.shapebuttons:hover {
    opacity: 0.5;
}

.titlebox {
    font-size: 25px;
    font-weight: BOLD;   
}

.namebox {
    font-size: 15px;
    font-weight: BOLD;   
    
}


