html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

input {
    border: none;
    background-color: rgb(97,35,35);
    color: white;
    font-size: 10px;
    font-family: Roboto Mono;
}

input:focus {
    background-color: red;
}

input:hover {
    background-color: red;
}

textarea {
    border-color: rgb(50,50,50);
    background-color: rgb(144,32,32);
    background-color: rgb(144,32,32);
    color: white;
    font-size: 10px;
    font-family: Roboto Mono;
}

textarea:focus {
    background-color: red;
}

textarea:hover {
    background-color: red;
}

.shapebuttons {
    background-color: red;
    color: white;
    border: none;
    font-size: 8.5px;
    font-family: Roboto Mono;
}

.shapebuttons:hover {
    opacity: 0.5;
}

.submitbutton {
    background-color: rgb(191,29,29);
    color: white;
    border: none;
    font-size: 10px;
    font-family: Roboto Mono;
}

.submitbutton:hover {
    background-color: red;
}

.titlebox {
    background-color: rgb(144,32,32);
    font-size: 25px;
    font-weight: BOLD;   
}

.namebox {
    background-color: rgb(144,32,32);
    font-size: 15px;
    font-weight: BOLD;   
}

.durationbox {
    font-size: 15px;
    font-weight: BOLD;      
}

.dropdown {
    border-color: rgb(50,50,50);
    background-color: rgb(191,29,29);
    color: white;
    font-size: 10px;
    font-family: Roboto Mono;
}

.dropdown:hover {
    background-color: red;
}


